.wwads-horizontal, .wwads-vertical {
  background-color: #f4f8fa;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: sans-serif;
  display: flex;
  min-width: 150px;
  position: relative;
  overflow: hidden;
}

