$theme-colors: #2196f3, #f26d6d, #3eaf7c, #fb9b5f;
$text-color: (
        light: #2c3e50,
        dark: #adbac7,
);
$bg-color: (
        light: #fff,
        dark: #22252e,
);
$bg-color-secondary: (
        light: #f8f8f8,
        dark: #333,
);
$box-shadow: (
        light: #f0f1f2,
        dark: #adbac7,
);
$color-transition: 0s;
$transform-transition: "0s ease" !default;

